.spinner-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* убираем фон, он пойдёт в ::before */
  background: none;
  overflow: hidden;
}

.spinner-page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./background.jpg') no-repeat center center fixed;
  background-size: cover;

  /* собственно размытие фона */
  /* filter: blur(2px); */

  z-index: 1;
}

.content {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
