annotated-types==0.7.0
asgiref==3.8.1
common @ file:///Users/anton/Work/tgambler/common
Django==5.2.3
dotenv==0.9.9
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
python-dotenv==1.1.1
sqlparse==0.5.3
typing-inspection==0.4.1
typing_extensions==4.14.0
